body{
	background-color: #b3b3ff;
	font-family: Montserrat;
	width: 100%;
}
h2,h4{
	color:#3399ff;
	font-family: 'Ubuntu', sans-serif;
	font-weight: bold;
	text-align: center;
	border-radius: 10px;
	border: solid 1px #e6f2ff;
	/*background-color: #e6f2ff;*/
	/*font-size: 2.5rem;*/

}
}
h6{
	font-family: 'Ubuntu', sans-serif;
	font-weight: bold;
}
section{
	text-align: center;
}
#notify{
	color: red;
}
tr,th,td {
	border: solid 1px#b3b3ff;
	background-color:  #1a8cff; 
	color:white;
	border-radius: 10px;
}
.title{
	border-radius: 10px;
	border: solid 5px #e6ecff;
	background-color: #e6f2ff;;
	margin: 10px;
	margin-top: 20px;
	/*bottom: 10px;*/
	text-align: center;
}
#search{
	text-align: center;
	margin: 40px;
	border: solid 2px #333300;
	box-shadow: 10px 8px 5px;
	border-radius: 10px;
	width: 100%;
}
.weather-wearing{
	margin-top: 20px;
	margin-left: 30px;
	border-radius: 10px;
	box-shadow:5px;
	width: 60%; 
	height: auto;

}
.image-align{
	text-align: center;
}
/*.weather-coln{
	margin: 10px;
	border-radius: 10px;
	width: 60%;
	text-align: center;
	color:green;

	}*/
	.submit-btn,.back-btn, .new-search{
		border:solid 0px #6666ff;
		box-shadow: 3px;
		border-radius: 10px;
		margin: 10px;
		background-color: #1a8cff;
		color:  #cce6ff;
		padding: 5px;
	}
	#delete_btnn{
		border:solid 0px #6666ff;
		box-shadow: 3px;
		border-radius: 10px;
		margin: 10px;
		background-color:#ff9999 ;
		color:  #ffffff;
		padding: 5px;

}
/*@media screen and (max-width: 920px) {
.weather-wearing{
	width:60%;
}
.weather-coln{
	width: 80%;
}

#search{
	width: 100%;
	} }*/
	.input-type{
		border-radius: 10px;
		border: solid 0px;
		padding: 5px;
	}



	.weather_result{
		/*background-color: #3366ff;*/
		margin: 10px;
		border-radius: 10px;
	}
	.temp,.wind,.humdity,.description{
		background-color: #b3c6ff;
		border: solid 1px #e6ecff;
		margin-top: 20px;
		color: #5c5c3d;
		border-radius: 10px;
		text-align: center;


	}
	.news,.advert{
		background-color: #b3c6ff;
		border: solid 5px #e6ecff;
		margin-top: 20px;
		margin:0px;
		color: #5c5c3d;
		border-radius: 10px;
		text-align: center;
		position: relative;
		border-left: solid 1px #e6ecff;
	}
	.table-name{
		text-align:center;
		border: 0px solid #3399ff;
		width: 80%;

	}
	#table-head{
		background-color:  #e6f2ff;
		color: #3399ff;
		padding: 10px; 
		border: 1px solid  #b3b3ff;
		font-weight: 900;


	}
